.boards{
}
td{
}
.square button{
  height:100px;
  width: 100px;
  background: white;
  color: black;
  font-weight: bold;
  border: 0px solid black;
}
.square{
  height: 100px;
  width: 100px;
}
#userandfollow{
  display: flex;
  flex-direction: row;
}
